@page
@model StudyHub.Pages_Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>

        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Teacher.Email)
        </dd>
    </dl>
</div>
<h4>Lessons</h4>

@if (Model.Course.Lessons.Any())
{
    <ul class="list-group">
        @foreach (var lesson in Model.Course.Lessons)
        {
            <li class="list-group-item">
                <a asp-page="/Lessons/Details" asp-route-id="@lesson.Id">
                    @lesson.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>No lessons available.</p>
}

@if (User.Identity!.IsAuthenticated)
{
    <form method="post" asp-page-handler="Enroll" asp-route-id="@Model.Course.Id">
        <input type="submit" value="Enroll" class="btn btn-success" />
    </form>
}

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>