@page
@model StudyHub.Pages_Courses.IndexModel

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

@if (User.IsInRole("Teacher"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Teacher</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Course)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Teacher?.Email</td>

                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">View</a>

                    @if (User.IsInRole("Teacher"))
                    {
                        <span> | </span>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                        <span> | </span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>